:root {
  --color: black;
  --font-familyCairo: 'Cairo', sans-serif;
  --font-familyRoboto: 'Roboto', sans-serif;
  --font-familyNotoNastaliqUrdu:Noto Nastaliq Urdu;
  --main-color:#2F9C95;
}
/* NavBar style */
.navbarContainer{
  font-family: var(--font-familyRoboto);
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px lightgray;
  padding:5px;
}
.navbar{
  display: flex;
  max-width: 90%;
  margin: auto;
}
.logo{
  color: var(--main-color);
  font-family: var(--font-familyNotoNastaliqUrdu);
}
.list{
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.list__item__link ,.link{
  color: var(--color);
  text-decoration: none;
}
.active{
  color: var(--main-color);
}
.not-active:focus{
  color: var(--main-color);
}
.navbar button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
}
button:focus{
  color: #fff;
  background-color: var(--main-color);
}
.language{
  padding: 10px;
  border: none;
  border-radius: 5px;
}
/* end of navbar style */

/* introSection style */
.introSection{
  max-width: 90%;
  margin: auto;
  margin-top: 130px;
  display: flex;
}
.introSection__item1 p:first-child{
  color: var(--main-color);
  font-weight:bold;
  font-family: var(--font-familyRoboto);
}
.introSection__item1 h1{
  font-weight: bold;
  color: #323232;
  font-family: var(--font-familyRoboto);
}
.introSection__item1 h1 + p:nth-of-type(2) {
  color: #323232;
  font-family: var(--font-familyRoboto);
}
.introSection__item2 div{
  background-color:var(--main-color);
  width: 212px;
  height: 210px;
}
.btnDiv button{
  width: 150px;
}

/*  */