:root {
  --color: black;
  --font-familyCairo: 'Cairo', sans-serif;
  --font-familyRoboto: 'Roboto', sans-serif;
  --font-familyNotoNastaliqUrdu:Noto Nastaliq Urdu
}
.loginPageContainer{
  display: flex;
  max-width: 100%;
  margin: auto;
  height: 1024px;
  font-family: var(--font-familyRoboto);
}
 h6 {
  overflow: hidden;
  text-align: center;
}
h6::before,
h6::after {
  background-color: rgb(208, 208, 208);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

 h6::before {
  right: 0.5em;
  margin-left: -50%;
}
 h6::after {
  left: 0.5em;
  margin-right: -50%;
}
.loginPageContainer__item1 h3{
  font-family:Aref Ruqaa;
  color: #2F9C95;
  font-size: 60px;
}
.DivBtn button{
  width: 390px;
  border: none;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
  padding: 10px;
}
.loginPageContainer__item1{
  width: 75%;
  margin-top: 130px;
  padding: 15px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginPageContainer__item2{
  width: 530px;
  color: #fff;
  background-image: linear-gradient(200.5deg,#2F9C95,#103634 );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emailFiled ,.passwordFiled{
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 2px 2px lightgray;
  width: 390px;
}
.emailFiled ,.passwordFiled:focus{
  outline: none;
}
.loginPageContainer__item1 a{
  text-decoration: none;
  color: #2F9C95;
}
.googleBtn ,.facebookBtn{
  border: none;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 390px;
}
.registerBtn{
  border: none;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  color: #2F9C95;
  width: 200px;
}
.password{
  background: url("/public/assets/Vector.png") no-repeat right;
  background-size: 20px;
  background-position-x: 500px;
}
.loginPageContainer__item2 p{
  color: #d5d5d5;
  text-align: center;
  font-family: var(--font-familyRoboto);
}
/* media query *
/* Mobile : 375px => 768px */
@media screen and (min-width:100px) and (max-width:375px) {
  .loginPageContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .DivBtn button{
    width: 300px;
  }
  .loginPageContainer__item2{
    display: none;
  }
  .emailFiled ,.passwordFiled{
    width: 300px;
  }
  .googleBtn ,.facebookBtn{
    width: 300px;
  }
}
@media screen and (min-width:375px) and (max-width:767px) {
  .loginPageContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .DivBtn button{
    width:390px;
  }
  .loginPageContainer__item2{
    display: none;
  }
  .emailFiled ,.passwordFiled{
    width: 390px;
  }
  .googleBtn ,.facebookBtn{
    width: 390px;
  }
}
/* tablet : 768px => 1024px */
@media screen and (min-width:768px) and (max-width:1024px) {
  
}
/* laptop : 1024px => 1440px */
@media screen and (min-width:1024px) and (max-width:1440px){}
