:root {
  --color: black;
  --font-familyCairo: 'Cairo', sans-serif;
  --font-familyRoboto: 'Roboto', sans-serif;
}
.MintButton{
  background-color: #2F9C95;
  padding: 10px;
  border: none;
  font-weight:bold;
  font-family: var(--font-familyRoboto);
  border-radius: 3px;
  margin-top: 30px;
}
.MintButton:hover{
  background-color: #2F9C95;
}
.lightBtn{
  background-color: white;
  color: #2F9C95;
  cursor: pointer;
  font-family: var(--font-familyRoboto);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.lightBtn:hover{
  background-color: #fff;
  color: #2F9C95;
}