:root {
  --color: black;
  --font-familyCairo: "Cairo", sans-serif;
  --font-familyRoboto: "Roboto", sans-serif;
}
.MintButton {
  background-color: #2f9c95;
  padding: 10px;
  border: none;
  font-weight: bold;
  font-family: var(--font-familyRoboto);
  border-radius: 3px;
  margin-top: 30px;
  color: #fff;
}
.MintButton:hover {
  background-color: #2f9c95;
}
.lightBtn {
  background-color: white;
  color: #2f9c95;
  cursor: pointer;
  font-family: var(--font-familyRoboto);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.lightBtn:hover {
  background-color: #fff;
  color: #2f9c95;
}

/* Modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 449px;
  font-family: var(--font-familyRoboto);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}
.modal-close:focus {
  background-color: #fff;
  color: #000;
}
.modalLoginBtn button {
  width: 270.15px;
}
